body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #FFFAFA;
  color: #222222;            
  line-height: 1.8;   
}

.diary-post {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 30px;               
  margin-bottom: 50px;                
}

.diary-container {
  max-width: 600px; 
  margin: 0 auto;    
}
