body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #FFFAFA;
  color: #222222;            
  line-height: 1.8;   

  .diary-post {
  border-solid: 1px dashed #dddddd; /* 下側に線を引く */
  padding-bottom: 30px;               /* 線と文字の間のすきま */
  margin-bottom: 50px;                /* 線と「次の日の日記」の間のすきま */
}

.diary-container {
  max-width: 600px; /* 横幅を最大600ピクセルに制限する */
  margin: 0 auto;    /* 制限した箱を、画面の「真ん中」に寄せるおまじない */
}


  


}

