
body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #FFFAFA;
  color: #222222;            
}

. manga-page {
  width: 100%;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid #cccccc; 
}
