
body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #FFFAFA;
  color: #222222;            
}

.manga-page {
  width: 320px; 
  max-width: 90%; 
  height: auto;
  display: block;
  margin: 20px auto;
  border: 2px solid #cccccc; 
}
