
body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #FFFAFA;
  color: #222222;            
}

.comic-page {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}
