body {
  /*フォント変えるやつね。消すな*/
  font-family: "Hiragino Sans", sans-serif;

　/ * 背景を白ベースにする */
  background-color: #ffffff; 
  
  /* 縦の線と横の線を重ねてチェック柄を作る魔法 */
  background-image: 
    linear-gradient(90deg, rgba(255, 182, 193, 0.5) 50%, transparent 50%),
    linear-gradient(rgba(255, 182, 193, 0.5) 50%, transparent 50%);
  
  /* チェックの大きさを決める（数字を小さくすると細かいチェックになります） */
  background-size: 40px 40px;  
}
